body {
    background-color: #09090b;
    color: #f4f4f5;
}

.glass-nav {
    background: rgba(9, 9, 11, 0.85);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */
}